.home-route {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.home-route-light {
  background-color: white;
}

.main-body {
  flex-grow: 1;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: wheat;
}

.search-box-container {
  padding: 10px 20px;
  background-color: #272727 !important;
  width: 50%;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-box-container-light {
  background-color: #f0f0f0 !important;
}

.search-box {
  color: white;
  background-color: inherit !important;
  border-radius: 5px;
  margin-left: 10px;
  flex-grow: 1;
}
.search-box-light {
  color: black;
  background-color: inherit !important;
  border: 0 !important;
  outline: none;
}

.search-box div {
  background-color: inherit !important;
  outline: none !important;
  border: 0 !important;
}

.search-box input {
  border: 0 !important;
  outline: !important;
}
